---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";

const theme = "about";
---

<Layout theme={theme}>
  <Hero video="/assets/imgs/video/design_and_production_video.mp4" title="Members" description="Explore our 30+ members at Trifolium" poster="/assets/imgs/lazyload/member_lazyload.webp" />

  <div class="member_list_container">
    <!-- <div class="member_card">
      <div class="member_image_container">
        <img src="../assets/imgs/placeholder.png" alt="Profile photo" />
      </div>
      <div class="member_info">
        <h5>Name</h5>
      </div>
    </div> -->
  </div>
  <script>
    fetch("https://pujfiitptpbiyxhpgbuj.supabase.co/rest/v1/medlemmer", {
      method: "GET",
      headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1amZpaXRwdHBiaXl4aHBnYnVqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDg1OTI2NDAsImV4cCI6MjA2NDE2ODY0MH0.dEwk5AGjOpOIK5j0GD9ZZT8SxquwZen5IX_s4pfLwBE",
        Authorization: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1amZpaXRwdHBiaXl4aHBnYnVqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDg1OTI2NDAsImV4cCI6MjA2NDE2ODY0MH0.dEwk5AGjOpOIK5j0GD9ZZT8SxquwZen5IX_s4pfLwBE",
      },
    })
      .then((res) => res.json())
      .then((data) => {
        const markup = data
          .map(
            (member) => `
      <a href="/members/${member.id}" class="member_card">
  <div class="member_image_container">
    <img src="${member.picture}" alt="${member.name}" />
  </div>
  <div class="member_info">
    <h5>${member.name}</h5>
  </div>
</a>
          `
          )
          .join("");

        document.querySelector(".member_list_container").innerHTML = markup;
      })
      .catch((err) => console.error("API-fejl:", err));
  </script>
  <style></style>
</Layout>
